{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
ARTICLE NAVIGATION
----------------------------------------------------------------------------------------------------------------------

Shows up to two related articles from the same blog (excluding the current article).

* show_date
* show_author
* show_comments_count
{%- endcomment -%}

<div class="article-navigation">
  {% comment %} <h2 class="article-navigation__title text-with-icon h4">{%- render 'icon' with 'blog-nav-right', width: 19, height: 20, direction_aware: true -%} {{ 'blog.post.continue_reading' | t }}</h2> {% endcomment %}

  <h2 class="article-navigation__title" style="text-align: center; font-size: 72px; font-weight: normal;">
    <span style="font-weight: 500; text-decoration: underline;">Related</span> <em style="font-style: italic;">articles</em>
  </h2>

  <div class="article-prev-next scroll-area bleed sm:unbleed">
    {%- assign related_rendered = 0 -%}
    {%- for related_article in blog.articles -%}
      {%- if related_article.id == article.id -%}
        {%- continue -%}
      {%- endif -%}

      {%- render 'blog-post-card', article: related_article, heading_size: 'h5', show_date: section.settings.show_date, show_author: section.settings.show_author, show_comments_count: show_comments_count -%}

      {%- assign related_rendered = related_rendered | plus: 1 -%}
      {%- if related_rendered == 2 -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
