<div class="zs-chemical-formulation">
  <h6 class="zs-chemical-formulation__heading">Chemical Formulation</h6>

  <table class="zs-chemical-formulation__table">
    <tr class="zs-chemical-formulation__row">
      <th class="zs-chemical-formulation__label">Sequence</th>
      <td class="zs-chemical-formulation__text">HXEGTFTSDVSSYLEGQAAK-OH.steric diacid-EFIAWLVRGRG</td>
    </tr>
    <tr class="zs-chemical-formulation__row">
      <th class="zs-chemical-formulation__label">Molecular Formula</th>
      <td class="zs-chemical-formulation__text">C187H291N45O59</td>
    </tr>
    <tr class="zs-chemical-formulation__row">
      <th class="zs-chemical-formulation__label">Molecular Weight</th>
      <td class="zs-chemical-formulation__text">4113.64 g/mol</td>
    </tr>
    <tr class="zs-chemical-formulation__row">
      <th class="zs-chemical-formulation__label">PubChem CID</th>
      <td class="zs-chemical-formulation__text">56843331</td>
    </tr>
    <tr class="zs-chemical-formulation__row">
      <th class="zs-chemical-formulation__label">CAS Number</th>
      <td class="zs-chemical-formulation__text">910463-68-2</td>
    </tr>
  </table>
</div>
